@*@model List<Construction.Models.ViewModel.PersonaViewModel>*@
@*@model Construction.Arquitectos*@
@{
    Layout = null;
}

@*<h1>Contrato 1</h1>*@

<h1>Contrato 2</h1>

@*<h1>@Html.DisplayFor(model => model.nombreCompleto)</h1>*@

