@model IEnumerable<Construction.Contratistas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/css/contratisa.css"/>
}

<h2>Contratos</h2>

